DEBUG=True
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://localhost:8000

DJANGO_SUPERUSER_EMAIL=example@gmail.com
DJANGO_SUPERUSER_PASSWORD=

POSTGRES_ENGINE=postgresql
POSTGRES_NAME=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
